body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea.input-field {
    resize: vertical; /* Allows the textarea to be resizable vertically */
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
#dataList ul {
    list-style-type: none;
    padding: 0;
}

#dataList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.copy-button {
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.copy-button:hover {
    background-color: #138496;
}

#dataList ul {
    list-style-type: none;
    padding: 0;
}

#dataList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

#dataList .code {
    display: none;
    white-space: pre-wrap;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}

.toggle-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.toggle-button:hover {
    background-color: #218838;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}

.name {
    font-weight: bold;
}

footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 0;
}
footer strong {
    color: #333;
}
